h2{
    color: rgb(0, 0, 158);
    font-size: 2em;
}


#containerDoubleCards{
    
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    outline: 3px solid;
}

.subContainerDoubleCards{
    display: flex;
    flex-direction: column;
    outline: 3px solid;
}

.containerTexteImageDoubleCards{
    position: absolute;
    height: 256px;
    display: flex;
    flex-direction: column;
    column-gap: 0;
    align-items: flex-start;
    justify-content: center;
    outline: 3px solid;
}

.containerTexteImageDoubleCards:hover > .flecheDoubleCards1{
    opacity: 1;
    translate: 100px;
}

.texteImageDoubleCards{ 
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-weight: bold;
    margin-top: 200px;
    margin-bottom: 0;
    
}

.flecheDoubleCards1{
    transition: translate 0.5s, opacity 0.5s;
    opacity: 0;
    position: relative;
}

.zoom{
    transition: transform .2s;
    filter: url(#bleu);
}

.zoom:hover{
    transform: scale(1.2);
    filter: hue-rotate(0deg);
}

.wrapperDoubleCards{
    overflow: hidden;
}

/* A partir de là c'est pour le bouton des réseaux sociaux */

#partage1{
    position: fixed;
    right: 1%;
    bottom: 50%; 
}

#partage2{
    position: fixed;
    right: 1%;
    bottom: calc(50% - 40px);
    opacity: 0;
    transition: opacity 0.25s;
    height: 0;
    width: 0;
}

#partage3{
    position: fixed;
    right: 1%;
    bottom: calc(50% - 80px); 
    opacity: 0;
    transition: opacity 0.4s;
    height: 0;
    width: 0;
}

#partage4{
    position: fixed;
    right: 1%;
    bottom: calc(50% - 120px); 
    opacity: 0;
    transition: opacity 0.55s;
    height: 0;
    width: 0;
}
