@font-face {
    font-family: 'FrontageCondensedOutline';
    src: url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.eot');
    src: url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.eot') format('embedded-opentype'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.woff2') format('woff2'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.woff') format('woff'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.ttf') format('truetype'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.svg#FrontageCondensedOutline') format('svg');
}
@font-face {
    font-family: 'ZonaProBold';
    src: url('../fonts/zona-pro/ZonaProBold.eot');
    src: url('../fonts/zona-pro/ZonaProBold.eot') format('embedded-opentype'),
    url('../fonts/zona-pro/ZonaProBold.woff2') format('woff2'),
    url('../fonts/zona-pro/ZonaProBold.woff') format('woff'),
    url('../fonts/zona-pro/ZonaProBold.ttf') format('truetype'),
    url('../fonts/zona-pro/ZonaProBold.svg#ZonaProBold') format('svg');
}
@font-face {
    font-family: 'ZonaProExtraLight';
    src: url('../fonts/zona-pro/ZonaProExtraLight.eot');
    src: url('../fonts/zona-pro/ZonaProExtraLight.eot') format('embedded-opentype'),
    url('../fonts/zona-pro/ZonaProExtraLight.woff2') format('woff2'),
    url('../fonts/zona-pro/ZonaProExtraLight.woff') format('woff'),
    url('../fonts/zona-pro/ZonaProExtraLight.ttf') format('truetype'),
    url('../fonts/zona-pro/ZonaProExtraLight.svg#ZonaProExtraLight') format('svg');
}


:root {
    --primary-color: rgba(15, 47, 120, 1);
    --seconday-color: rgba(54, 160, 172, 1);
    --black-color: rgba(0, 0, 0, 1);
    --green-color: rgba(0, 90, 61, 1);
    --grey-color: rgba(112, 112, 112, 1);
    --grey-dark-color: rgba(90, 90, 90, 1);
    --grey-light-color: rgba(242, 244, 247, 1);
    --red-color: rgba(179, 67, 62, 1);
    --blue-color: rgba(162, 182, 223, 1)
}

body {
    font-size: 16px;
}


h2 {
    font-size: 2.5em;
    font-family: 'ZonaProBold';
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1246px;
}

/* -----------------------------------------------------*/
/* ------------------ HEADER ---------------------------*/
/* -----------------------------------------------------*/

/* -----------------------------------------------------*/
/* ---------------- END HEADER -------------------------*/
/* -----------------------------------------------------*/



/* -----------------------------------------------------*/
/* ----------------- Actualités ------------------------*/
/* -----------------------------------------------------*/
.container {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}

.left-part {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.right-part {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#title {
    color: #0F2F78;
    font: normal normal normal 30px/63px FrontageCondensed-Bold;
    text-transform: uppercase;
}

#date {
    font: normal normal normal 16px/36px ZonaPro;
}

#actu1, #actu2, #actu3, #actu-left {
    font: normal normal normal 24px/30px ZonaPro-SemiBold;
}

#maj {
    display: inline-block; /* Change à inline-block */
    box-shadow: inset 0 0 0 0 #A2B6DF;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#maj:hover {
    box-shadow: inset 100% 0 0 0 #A2B6DF;
}

#imgLeft {
    width: 294px; /* Taille de l'image */
    height: 318px;
    margin-bottom: 20px; /* Ajoute un peu d'espace sous l'image */
}

/*
#imgLeft {
    top: 5708px;
    left: 63px;
    width: 294px;
    height: 318px;
}
/* -----------------------------------------------------*/
/* --------------- END Actualités ----------------------*/
/* -----------------------------------------------------*/



/* -----------------------------------------------------*/
/* ------------------ HEADER ---------------------------*/
/* -----------------------------------------------------*/

/* -----------------------------------------------------*/
/* ---------------- END HEADER -------------------------*/
/* -----------------------------------------------------*/

