@font-face {
    font-family: 'FrontageCondensedOutline';
    src: url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.eot');
    src: url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.eot') format('embedded-opentype'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.woff2') format('woff2'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.woff') format('woff'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.ttf') format('truetype'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.svg#FrontageCondensedOutline') format('svg');
}
@font-face {
    font-family: 'ZonaProBold';
    src: url('../fonts/zona-pro/ZonaProBold.eot');
    src: url('../fonts/zona-pro/ZonaProBold.eot') format('embedded-opentype'),
    url('../fonts/zona-pro/ZonaProBold.woff2') format('woff2'),
    url('../fonts/zona-pro/ZonaProBold.woff') format('woff'),
    url('../fonts/zona-pro/ZonaProBold.ttf') format('truetype'),
    url('../fonts/zona-pro/ZonaProBold.svg#ZonaProBold') format('svg');
}
@font-face {
    font-family: 'ZonaProExtraLight';
    src: url('../fonts/zona-pro/ZonaProExtraLight.eot');
    src: url('../fonts/zona-pro/ZonaProExtraLight.eot') format('embedded-opentype'),
    url('../fonts/zona-pro/ZonaProExtraLight.woff2') format('woff2'),
    url('../fonts/zona-pro/ZonaProExtraLight.woff') format('woff'),
    url('../fonts/zona-pro/ZonaProExtraLight.ttf') format('truetype'),
    url('../fonts/zona-pro/ZonaProExtraLight.svg#ZonaProExtraLight') format('svg');
}


:root {
    --primary-color: rgba(15, 47, 120, 1);
    --seconday-color: rgba(54, 160, 172, 1);
    --black-color: rgba(0, 0, 0, 1);
    --green-color: rgba(0, 90, 61, 1);
    --grey-color: rgba(112, 112, 112, 1);
    --grey-dark-color: rgba(90, 90, 90, 1);
    --grey-light-color: rgba(242, 244, 247, 1);
    --red-color: rgba(179, 67, 62, 1);
    --blue-color: rgba(162, 182, 223, 1)
}

body {
    font-size: 16px;
}


h2 {
    font-size: 2.5em;
    font-family: 'ZonaProBold';
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1246px;
}

/* -----------------------------------------------------*/
/* ------------------ HEADER ---------------------------*/
/* -----------------------------------------------------*/

/* -----------------------------------------------------*/
/* ---------------- END HEADER -------------------------*/
/* -----------------------------------------------------*/



/* -----------------------------------------------------*/
/* ----------------- Actualités ------------------------*/
/* -----------------------------------------------------*/

/* -----------------------------------------------------*/
/* --------------- END Actualités ----------------------*/
/* -----------------------------------------------------*/



/* -----------------------------------------------------*/
/* ------------------ HEADER ---------------------------*/
/* -----------------------------------------------------*/

/* -----------------------------------------------------*/
/* ---------------- END HEADER -------------------------*/
/* -----------------------------------------------------*/










/* -----------------------------------------------------*/
/* ------------------ MISSIONS ---------------------------*/
/* -----------------------------------------------------*/

#mission {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
  }
  
  #bloc-gauche {
    flex: 1; 
    margin-right: 20px; 
  }
  
  #bloc-droit {
    flex: 2; 
  }

  #img-mission {
    width: 200px;
    height: auto; 
    max-width: 100%; 
}

.titre-mission{
    color: #A2B6DF;

}

.hr-mission{
    border: 4px solid #A2B6DF;
    
}

ul {
    list-style-type: '-'; /* Ajoute des tirets comme puces de liste */
    padding-left: 0; /* Supprime les marges par défaut des listes */
    margin-bottom: 0; /* Réduit l'espace sous la liste */
}

ul li {
    margin-bottom: 5px; /* Réduit l'espace entre les éléments de la liste */
}

ul li p {
    display: inline; /* Permet que le texte soit aligné avec le tiret */
    margin: 0; /* Supprime les marges des paragraphes dans les listes */
}



/* -----------------------------------------------------*/
/* ---------------- END MISSIONS -------------------------*/
/* -----------------------------------------------------*/