@font-face {
    font-family: 'FrontageCondensedOutline';
    src: url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.eot');
    src: url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.eot') format('embedded-opentype'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.woff2') format('woff2'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.woff') format('woff'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.ttf') format('truetype'),
    url('../fonts/frontage-condensed-outline/FrontageCondensedOutline.svg#FrontageCondensedOutline') format('svg');
}
@font-face {
    font-family: 'ZonaProBold';
    src: url('../fonts/zona-pro/ZonaProBold.eot');
    src: url('../fonts/zona-pro/ZonaProBold.eot') format('embedded-opentype'),
    url('../fonts/zona-pro/ZonaProBold.woff2') format('woff2'),
    url('../fonts/zona-pro/ZonaProBold.woff') format('woff'),
    url('../fonts/zona-pro/ZonaProBold.ttf') format('truetype'),
    url('../fonts/zona-pro/ZonaProBold.svg#ZonaProBold') format('svg');
}
@font-face {
    font-family: 'ZonaProExtraLight';
    src: url('../fonts/zona-pro/ZonaProExtraLight.eot');
    src: url('../fonts/zona-pro/ZonaProExtraLight.eot') format('embedded-opentype'),
    url('../fonts/zona-pro/ZonaProExtraLight.woff2') format('woff2'),
    url('../fonts/zona-pro/ZonaProExtraLight.woff') format('woff'),
    url('../fonts/zona-pro/ZonaProExtraLight.ttf') format('truetype'),
    url('../fonts/zona-pro/ZonaProExtraLight.svg#ZonaProExtraLight') format('svg');
}

@font-face {
    font-family: 'FrontageCondensedBold';
    src: url("https://db.onlinewebfonts.com/t/22666f3327d67d77b16655c5a673bad2.eot");
    src: url("https://db.onlinewebfonts.com/t/22666f3327d67d77b16655c5a673bad2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/22666f3327d67d77b16655c5a673bad2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/22666f3327d67d77b16655c5a673bad2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/22666f3327d67d77b16655c5a673bad2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/22666f3327d67d77b16655c5a673bad2.svg#Frontage Condensed Bold")format("svg");
}

:root {
    --primary-color: rgba(15, 47, 120, 1);
    --seconday-color: rgba(54, 160, 172, 1);
    --black-color: rgba(0, 0, 0, 1);
    --green-color: rgba(0, 90, 61, 1);
    --grey-color: rgba(112, 112, 112, 1);
    --grey-dark-color: rgba(90, 90, 90, 1);
    --grey-light-color: rgba(242, 244, 247, 1);
    --red-color: rgba(179, 67, 62, 1);

}

body {
    font-size: 16px;
}


h2 {
    font-size: 2.5em;
    font-family: 'ZonaProBold';
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1246px;
}

/* -----------------------------------------------------*/
/* ------------------ HEADER ---------------------------*/
/* -----------------------------------------------------*/

/* -----------------------------------------------------*/
/* ---------------- END HEADER -------------------------*/
/* -----------------------------------------------------*/



/* -----------------------------------------------------*/
/* ----------------- Actualités ------------------------*/
/* -----------------------------------------------------*/

div {
	color: #0F2F78;
}

h2{
/* Layout Properties */
top: 5587px;
left: 162px;
width: 156px;
height: 30px;
display : inline-flex;
margin-left : 60px;

/* UI Properties */

text-align: left;
font: normal normal normal 30px/63px FrontageCondensedBold;
letter-spacing: 0px;
text-transform: uppercase;
opacity: 1;
}

i{
	font-size : inherit;
	margin-left : 24px;
}

/* -----------------------------------------------------*/
/* --------------- END Actualités ----------------------*/
/* -----------------------------------------------------*/



/* -----------------------------------------------------*/
/* ------------------ HEADER ---------------------------*/
/* -----------------------------------------------------*/

/* -----------------------------------------------------*/
/* ---------------- END HEADER -------------------------*/
/* -----------------------------------------------------*/

