h2{
    color: #A2B6DF;

}
*{
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif.
}
button{
    border: 0px;
}
h3{
    font-size: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
  }
  
.grid-item {
    padding: 20px;
    font-size: 16px;
    font-style: arial;
}

.grid-image{
    grid-row: 1 / 3;
    padding: 20px;
}

.titre_mission{
    text-align: center;
    display:flex;
    border-bottom-style: solid;
    border-bottom-color:  #A2B6DF;
    vertical-align:middle;
    color: #A2B6DF;
    align-items: center;
    font-size: 25px;
    font-style: arial;
}

img{
    width: 459px;
    height: 450px;

    transition: transform 1s;
}

button{
    background-color: white;
    height: 70px;
    width: 50px;
}

