@font-face {
    font-family: 'ZonaPro-ExtraBold';
    src: url(assets/fonts/zona-pro/ZonaProBold.woff2) format(woff2);
}
@font-face {
    font-family: 'FrontageCondensed-Bold';
    src: url(assets/fonts/frontage-condensed-outline/FrontageCondensedOutline.woff2) format(woff2);
}

ul{
    list-style: none;
    display: inline-flex;
    overflow : visible;
}


.expert-titre{
text-align: center;
font: normal normal normal 40px/40px ZonaPro-ExtraBold;
letter-spacing: 0px;
color: #0F2F78;
text-transform: uppercase;
}


.expert-sous-titre{
    text-align: center;
    font: normal normal normal 20px/63px FrontageCondensed-Bold;
    color: #A2B6DF;
    justify-content: space-between
}

.SlideExpert{
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 6px solid #A2B6DF;
    border-radius: 4px;
    opacity: 1;
    width : 18.375em;
    height: 19.875em;
    background-size: auto;
    background-repeat: no-repeat;
    margin-left:23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
