@font-face {
    font-family: 'ZonaPro-ExtraBold';
    src: url(assets/fonts/zona-pro/ZonaProBold.woff2) format(woff2);
}
@font-face {
    font-family: 'FrontageCondensed-Bold';
    src: url(assets/fonts/frontage-condensed-outline/FrontageCondensedOutline.woff2) format(woff2);
}




.expert-titre{
text-align: center;
font: normal normal normal 40px/40px ZonaPro-ExtraBold;
letter-spacing: 0px;
color: #0F2F78;
text-transform: uppercase;
}
.expert-sous-titre{
    text-align: center;
    font: normal normal normal 20px/63px FrontageCondensed-Bold;
    letter-spacing: 0px;
    color: #A2B6DF;
    text-transform: uppercase;
}


li {
    background-image: url(assets/img/Rectangle\ 40.svg);
    background-size: auto;
    background-repeat: no-repeat;
}